<div class="container mt-5">
  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-running-dots">
  </ngx-spinner>
  <div class="row">
    <div class="col col-6 mb-3">
      <div class="card">
        <div class="card-body">
          <form class="col col-6 mb-3" (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div class="form-group">
              <label for="title">Title</label>
              <input
                type="text"
                id="title"
                class="form-control" 
                [(ngModel)]="item.title" 
                [ngClass]="{'is-invalid': itemTitle.errors && form.submitted}"
                #itemTitle="ngModel"
                name="title"
                required  
                minlength="2"       
              >
              <div class="invalid-feedback" [hidden]="!itemTitle.errors?.required">Title  required</div>
              <div class="invalid-feedback" [hidden]="!itemTitle.errors?.minlength">Title  must be at least 2 chars </div>
            </div>
            <div class="form-group">
              <label for="body">Text</label>
              <textarea
                type="body"
                id="body"
                class="form-control" 
                [(ngModel)]="item.body" 
                [ngClass]="{'is-invalid': itemBody.errors && form.submitted}"
                #itemBody="ngModel"
                name="body"      
                required
              >               
              </textarea>
              <div class="invalid-feedback" [hidden]="!itemBody.errors?.required">Text is required</div>    
            </div> 
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
        </div>
        <!-- .card-body -->
      </div>
      <!-- .card -->
    </div>
    <!-- .col -->
  </div>
  <!-- .row -->
  <div class="row">
    <div class="col col-6 mb-3" *ngFor="let post of posts">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.body }}</p>
          <button class="btn btn-danger" *ngIf="isAdmin" (click)="onDelete(post.id)">Delete</button>
          <button class="btn btn-primary" *ngIf="isAdmin" (click)="onGetComments(post.id)">Comments</button>
          <div *ngFor="let comment of comments">
            <div *ngIf="comment.postId == post.id">
              <h5 class="card-title mt-5">{{ comment.email }}:</h5>
              <p class="card-text">{{ comment.body }}</p>
            </div>
          </div>
        </div>
        <!-- .card-body -->
      </div>
      <!-- .card -->
    </div>
    <!-- .col -->
  </div>
  <!-- .row -->
</div>
<!-- .container -->